@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,900');

body {
  margin: 0;
  background-color: rgb(0, 64, 128);
}

.inputWordText {
  background-color: transparent;
  color: white;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid white;
  font-size: 2em;
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
}

.inputWordDiv {
  margin-top: -3em;
}

.inputSubmitDiv {
  margin-top: 3em;
}

.app {
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
  color: white;
}

.title {
  margin-top: 2em;
}

.h1 {
  font-size: 5em;
}
